@layer components {
  .panel {
    min-width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
  }

  .cyber-container {
    background: #0b0b12; /* cor de fundo */
    position: relative;
    clip-path: polygon(
      0% 5%,    /* recorte canto superior esquerdo */
      2% 0%,    
      98% 0%,   /* topo direito */
      100% 5%,  
      100% 95%, /* base direita */
      98% 100%, 
      2% 100%,  /* base esquerda */
      0% 95%    
    );
    padding: 1rem;
  }

  .inner-cyber-container {
    clip-path: polygon(
      0% 5%,    /* recorte canto superior esquerdo */
      2% 0%,    
      98% 0%,   /* topo direito */
      100% 5%,  
      100% 95%, /* base direita */
      98% 100%, 
      2% 100%,  /* base esquerda */
      0% 95%    
    );
  }
}