@font-face {
  font-family: 'NCLRabegs';
  src: url('/fonts/NCLRabegs.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '3270-Regular';
  src: url('/fonts/3270-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '3270Condensed-Regular';
  src: url('/fonts/3270Condensed-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'technology';
  src: url('/fonts/Technology.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'technology';
  src: url('/fonts/Technology-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'technology';
  src: url('/fonts/Technology-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'technology';
  src: url('/fonts/Technology-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'unison';
  src: url('/fonts/Unison-Pro-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unison';
  src: url('/fonts/Unison-Pro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}