@theme {
  --color-electric-green: #00ff00;
  --color-crimson: #F20505;

  --font-nclr: "NCLRabegs", monospace;
  --font-techno: "technology", sans-serif;

  --animate-stream-title: stream-title 5s linear infinite;
  --animate-blink: blink 1s step-start infinite;

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  @keyframes stream-title {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}