@utility absolute-center {
  display: flex;
}

@utility hover-effect {
  position: relative;
  font-kerning: none;
  white-space: nowrap;
  text-shadow: inherit;

  .char {
    position: relative;
  }

  .word {
    white-space: nowrap;
  }
}

@utility cyber-clipath1 {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}