@import "tailwindcss";

@font-face {
  font-family: 'monofonto';
  src: url('/fonts/monofonto.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'technology';
  src: url('/fonts/Technology.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'technology';
  src: url('/fonts/Technology-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'technology';
  src: url('/fonts/Technology-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'technology';
  src: url('/fonts/Technology-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@theme {
  --color-text: #2a9d00;
  --color-bg: #0c0c0c;
  --font-techno: "technology", sans-serif;
  --animate-blink: blink 1s step-start infinite;

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}

.panel {
  min-width: 100vw;
  min-height: 100vh;
}
